<li class="flex flex-col items-center justify-center gap-2 p-4 rounded rounded shadow">
  <div class="flex flex-col justify-center">
    <img src=<%= brand.logo %> />
  </div>
  <span class="mt-auto"><%= brand.name %></span>
  <span>Made In <%= brand.country %></span>
  <form method="post" action="/brands/<%= brand.id %>/delete" class="flex gap-4 items-center p-4">
    <button class="bg-red rounded">Delete</button>
    <a href="/brands/<%= brand.id %>" class="bg-blue button rounded">Models</a>
  </form>
</li>
