<li class="flex flex-col gap-2 p-4 justify-between rounded shadow">
  <img src=<%= model.image %> height="150" />
  <span><strong>Brand:</strong> <%= model.brand_name %></span>
  <span><strong>Model:</strong> <%= model.model_name %></span>
  <span><strong>Year:</strong> <%= model.year %></span>
  <span><strong>Price:</strong> <%= model.price %></span>
  <button class="bg-red rounded">Delete</button>
</li>
